@page "/brewers"
@inject IBrewerManager BrewerManager

<h1>Brewers</h1>

<MTable TItem="Brewer" Items="@brewers" IsLoading="@isLoading">
    <Header>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Established</th>
        <th>Country</th>
        <th>Street</th>
    </Header>
    <Row Context="brewer">
        <td>@brewer.Id</td>
        <td>@brewer.Name</td>
        <td>@brewer.Description</td>
        <td>@brewer.EstablishedDate?.ToString()</td>
        <td>@brewer.EstablishedDate?.ToString()</td>
        <td>@brewer.Address.Country</td>
        <td>@brewer.Address.Street</td>
    </Row>
</MTable>

@functions {
    IReadOnlyList<Brewer> brewers = new List<Brewer>();
    bool isLoading = true;

    protected override async Task OnInitAsync()
    {
        brewers = await BrewerManager.GetIndexAsync();
        isLoading = false;
    }
}
